* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    margin-top: 30px;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFF;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 26px;
}

input {
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    height: 74px;
    width: 342px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFfff;
    opacity: 0, 7;
}

.input-min {
    margin-right: 62px;
}

button {
    border-radius: 10px;
    background: #AEC346;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    width: 342px;
    height: 72px;
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    /* margin-top: 80px; */
    border: none;
    cursor: pointer;
    margin: 80px 205px;
}

button.hover {
    opacity: 0.9;
}

button.active {
    opacity: 0.8;
}



@media screen and (max-width: 770px) {

    main {
        padding-left: 125px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        margin: 80px 62px 80px 0;
    }

    img {
        margin: 30px 132px 0 199px;
        width: 300px;
    }

    .input-min {
        margin-bottom: 26px;
    }

    h2 {
        margin: 40px 77px 30px 0;
    }
}